@charset "utf-8";

.background-color {
	background-color: #fff;
}

.content {
	margin: 0 auto;
	max-width: 80%;
}

.conversor {
	margin: 0 auto;
	max-width: 250px;
	width: auto;
	/*padding: 5%;*/
}
.text-input, button {
	width: 200px;
}
h1 {
	font-size: 30px;
	text-decoration: sub;
}
#base > label {
	display: block;
}
